/* Variables */
:root {
  --base-color: #000;
  --base-light-color: #fff;
  --base-color-light: #666;
  --dark-bg-font-color: #cacaca;
  --accent-color: #ff9900;
  --accent-color-light: #ffB84d;
  --accent-color-dark: #e1670e;
  --form-bg-color: #414141;
}

@media (max-width: 1024px) {
  .container {
    max-width: 924px;
  }

  .header {
    padding: 16px 0;
    margin-bottom: 40px;
  }

  .logo__img_header {
    width: 150px;
  }

  .nav_header {
    margin-right: 98px;
  }

  .nav__list_header {
    gap: 60px;
  }

  .section {
    margin-bottom: 80px;
  }

  .section_hero {
    padding: 160px 77px;
    margin-bottom: 35px;
  }

  .hero__title {
    font-size: 60px;
    margin-bottom: 15px;
  }

  .hero__subtitle {
    font-size: 20px;
    margin-bottom: 58px;
  }

  .hero__subtitle {
    max-width: 660px;
  }

  .section_about {
    margin-bottom: 77px;
  }

  .about__text {
    margin-bottom: 60px;
  }

  .about__wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .about__left,
  .about__right {
    margin: 0;
    width: 100%;
  }

  .about__post {
    min-height: 640px;
  }

	.about__block {
		padding-left: 315px;
		padding-right: 120px;
	}

  .about__block_box {
    background: url(/img/about-1.svg) no-repeat 76px center;
  }

  .about__block_gear {
    background: url(/img/about-2.svg) no-repeat 76px center;
  }

  .stages__wrapper {
    gap: 50px;
  }

  .stages__left {
    padding-right: 0;
  }

  .stages__text:nth-of-type(2) {
    margin-bottom: 29px;
  }

  .questions__card {
    --offsets: 0;
    padding-bottom: 60px;
  }

  .block__title {
    margin-bottom: 8px;
  }

  .footer-right {
    display: none;
  }

  .footer__left,
  .footer__center,
  .footer__right {
    --offsets: 1;
    --gap: 132px;
  }

  .footer__left {
    width: 251px;
    margin-right: 100px;
  }

  .footer__center {
    max-width: 541px;
  }

  .form__button {
    padding: 19px 37px;
  }
}

@media (max-width: 768px) {
	:root {
		--border-radius: 24px;
	}

	.container {
		max-width: 668px;
	}

	.header {
		padding: 7px 0;
	}

	.header__logo {
		width: 110px;
	}

	.nav_header {
		margin-right: 36px;
	}

	.nav__list_header {
		gap: 43px;
	}

	.nav__link {
		font-size: 16px;
	}

	.section_hero {
		padding: 160px 40px;
	}

	.hero__title {
		font-size: 50px;
	}

	.hero__subtitle {
		font-size: 18px;
	}

	.about__text {
		margin-bottom: 57px;
	}

	.about__post {
		min-height: 650px;
	}

	.about-post__overlay {
		padding: 34px 40px;
		gap: 47px;
	}

	.about__block {
		padding: 35px 43px 35px 170px;
	}

	.about__block_box,
	.about__block_gear {
		background-position: 40px center;
		background-size: 17%;
	}

  .about-post__extrasmall {
    display: none;
  }

	.stages__wrapper {
		flex-direction: column-reverse;
		gap: 40px;
	}

	.stages__left,
	.stages__right {
		--offsets: 0;
	}

	.stages__right {
		padding-top: 0;
	}

	.stages__right,
	.stages__image {
		min-height: 284px;
	}

	.stages__text:nth-of-type(2) {
		margin-bottom: 24px;
	}

	.questions__list {
		gap: 30px;
	}

	.questions__card {
		padding: 35px 60px 35px 40px;
		border-radius: 32px;
	}

	.container__footer {
		flex-direction: column-reverse;
	}

	.nav_footer {
		display: none;
	}

	.footer__center {
		margin-bottom: 16px;
	}

	.footer__logo {
		margin-bottom: 7px;
	}
}

@media (max-width: 320px) {
  :root {
    --border-radius: 16px;
  }

  body {
    font-size: 14px;
  }

	.container {
		max-width: 290px;
	}

  .btn {
    font-size: 12px;
    padding: 10px 41px;
    border-radius: 8px;
  }

  .btn_outline {
    border-radius: 8px;
  }


	.container__header {
		flex-wrap: wrap;
	}

  .header {
    margin-bottom: 20px;
    padding: 7px 0 32px;
    border-radius: 0 0 16px 16px;
  }

	.header__logo {
		order: 1;
	}

	.search {
		order: 2;
	}

	.nav_header {
		order: 3;
		margin-right: -14px;
		padding-top: 5px;
		overflow: scroll;
	}

	.nav__list_header {
		gap: 26px;
	}

  .nav__item {
    display: flex;
  }

  .nav__link {
    flex: none;
    line-height: 200%;
  }

  .section {
    margin-bottom: 60px;
  }

  .section__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 125%;
  }

  .section_hero {
    min-height: 308px;
    padding: 60px 20px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 120%;
  }

  .hero__subtitle {
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 125%;
  }

  .hero__btn {
    font-size: 12px;
    padding: 13px 27px;
    border-radius: 8px;
    margin: 0 auto;
  }

  .about__text  {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 199%;
  }

  .about__post {
    min-height: 200px;
    margin-bottom: 8px;
  }

  .about-post__overlay {
    display: none;
  }

  .about-post__extrasmall {
    display: block;
  }

  .about-post__text {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 200%;
    font-weight: 400;
    color: var(--base-color);
  }

  .btn-outline_accent {
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
  }

  .about__right {
    gap: 28px;
  }

  .card {
    display: flex;
    flex-direction: column;
    border: none;
  }

  .about__block {
    padding: 67px 0 0;
  }

  .block__title {
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
  }

  .about__block_box,
  .about__block_gear {
    background-position: 0px 5px;
    background-size: 23%;
  }

  .block__text {
    font-size: 14px;
    line-height: 200%;
  }

  .stages__right,
  .stages__image {
    min-height: 160px;
  }

  .stages__wrapper {
    gap: 20px;
  }

  .block__title_stages {
    margin-bottom: 14px;
  }

  .stages__buttons {
    gap: 8px;
  }

  .stages__btn_acces {
    padding: 5px 44px;
  }

  .stages__btn_outline {
    padding: 5px 30px;
  }

  .questions__list {
    gap: 32px;
  }

  .questions__card {
    padding: 0;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__left,
  .footer__center,
  .footer__right {
    --offsets: 0;
  }

  .form {
    gap: 24px;
  }

  .form__bottom {
    flex-direction: column;
    gap: 15px;
    padding-top: 0;
  }

  .form__textarea {
    min-height: 152px;
  }

  .form__button {
    padding: 12px 19px;
  }

  .checkbox__label {
    font-size: 16px;
    padding-left: 14px;
  }

  .checkbox__label::before {
    left: -3px;
  }

  .container__footer {
    gap: 10px;
  }

  .footer__left {
    padding-top: 16px;
    width: 100%;
    margin-right: 0;
    border-top: 1px solid var(--form-bg-color);
  }

  .footer__logo {
    width: 131px;
    margin: 0 auto;
    margin-bottom: 7px;
  }

  .social__list {
    justify-content: center;
    gap: 16px;
  }

  .social__item {
    width: 40px;
    height: 40px;
  }

  .social__link {
    width: 40px;
    height: 40px;
  }

  .social__link svg {
    width: 40px;
    height: 40px;
  }

}
